<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{name}} Grubuna Masa Ekle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="addUserForm">
      <div class="form-group">
        <label for="addNewUserId">Masa Adı:</label>
        <input id="addNewUserId" class="form-control" placeholder="Masa Adı" type="text">
      </div>
      <div class="form-group">
        <label for="addNewUserId">Kart Fiyatı:</label>
        <input id="addNewUserId" class="form-control" placeholder="Kart Fiyatı" type="number">
      </div>
      <div class="form-group">
        <label for="addNewUserId">Birinci Çinko Ödülü:</label>
        <input id="addNewUserId" class="form-control" placeholder="Birinci Çinko Ödülü" type="number">
      </div>
      <div class="form-group">
        <label for="addNewUserId">İkinci Çinko Ödülü:</label>
        <input id="addNewUserId" class="form-control" placeholder="İkinci Çinko Ödülü" type="number">
      </div>
      <div class="form-group">
        <label for="addNewUserId">Tombala Ödülü:</label>
        <input id="addNewUserId" class="form-control" placeholder="Tombala Ödülü" type="number">
      </div>
      <div class="form-group">
        <label for="addNewUserId">Tulum Ödülü:</label>
        <input id="addNewUserId" class="form-control" placeholder="Tulum Ödülü" type="number">
      </div>
      <input class="d-none" type="submit">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
    <button type="button" class="btn btn-primary" id="submitNewAddTable">Ekle</button>
  </div>
</div>