<div>
	{{#each wallets}}
		<div class='card  bg-dark d-flex flex flex-column align-item-center' style='padding-left:10px;'>
			<div>{{game_name}} kredisi</div>
			<div>Bonus: {{bonus_balance}}</div>
			<div>kredi: {{balance}}</div>
		</div>
	{{/each}}
</div>
