<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="../users.html">
        Kullanıcılar
      </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="../tables.html">
			Masa Grupları
		</a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="../lock-card.html">
        Kart Kilitle/Aç
      </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="../index.html" id="logout_a">
			Çıkış Yap
		</a>
    </li>
</ul>
