{{#each tableGroups}}
<button type="button" class="btn btn-primary d-flex justify-content-between align-items-center"
  style='width:160px;height:80px;border-radius:5px;padding:10px;margin-left:10px;margin-bottom:10px;'
  onclick='ctx.updateCardData({{id}})'
  > 
  Masa Grubu:{{name}}
</button>
{{/each}}