<div class='d-flex flex-column justify-content-center align-items-end'>
  <textarea name="note" id="user-note" class='w-100' rows="5">{{note}}</textarea>
  <input type="submit" value="Kaydet" class="btn btn-primary w-25 mt-3" click='ctx.updateNote({{uid}})'>
</div>